    <section class="static-bio">
        <div>
            <img src="https://i.imgur.com/FQDpnux.png" alt="Mack Nelson Logo">
            <h1>{{sidebarStaticContent.homepageHeader}}</h1>
            <h3>{{sidebarStaticContent.homepageSubheader}}</h3>
            <h5>Currently</h5>
            <h4>Web Operations Manager at Schell Games</h4>
            <h5>Previously</h5>
            <h4>VP of Creative at Dealer Venom</h4>
            <h4>Front-End Developer at GNC</h4>
            <h4>etc... <a href="{{sidebarStaticContent.homepageResume}}" target="_blank">(view full resume)</a></h4>
            <div class="social">
                <a href="{{sidebarStaticContent.homepageEmail}}" target="_blank"><i class="fas fa-envelope-open"></i></a>
                <a href="{{sidebarStaticContent.homepageLinkedin}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="{{sidebarStaticContent.homepageTwitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
                <!-- <a href="{{sidebarStaticContent.homepageGithub}}" target="_blank"><i class="fab fa-github"></i></a>
                <a href="{{sidebarStaticContent.homepageInstagram}}" target="_blank"><i class="fab fa-instagram"></i></a> -->
            </div>
        </div>
    </section>
